<div class="leFt">
    <h1>{{currentCategoria.categoria}}</h1>
    <ul>
        <li ng-repeat="produto in showingPr track by $index">
            <div class="coDe">{{produto.codigo}}</div>
            <div class="proD">{{produto.nome}}</div>
            <div class="vaL">R$ {{produto.valorHoje}}</div>
            <div class="unI">{{produto.unidadeMedida}}</div>
        </li>
    </ul>
</div>

<!-- <div class="riGht">
    <h1>{{currentCategoria.categoria}}</h1>
    <ul>
        <li ng-repeat="produto in showingPr track by $index">
            <div class="coDe">{{produto.codigo}}</div>
            <div class="proD">{{produto.nome}}</div>
            <div class="vaL">R$ {{produto.valorHoje}}</div>
            <div class="unI">{{produto.unidadeMedida}}</div>
        </li>
    </ul>
</div> -->