<div class="box box-primary">
	<div class="box-header with-border">
		<h2 class="box-title">Produtos</h2>
	</div>
	<div class="box-body">
		<div class="row container-fluid">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">

						<form role="form" name="novoProdutoForm">
							<div class="form-group">

								<div class="row">
									<div class="col-md-4">
										<label for="inputCodigo">Código*</label>
										<input id="inputCodigo" type="text" class="form-control" ng-model="novoProduto.codigo" ng-required="true">
									</div>
								
									<div class="col-md-8">
					                    <label for="inputNome">Nome*</label>
					                    <input type="text" class="form-control" id="inputNome" ng-model="novoProduto.nome" ng-required="true">
					                </div>
			                    </div>

			                    <div class="row">
			                    	<div class="col-md-6">
			                    		<label for="inputCategoria">Categoria*</label>
					                    <select ng-model="paraCategoria" ng-required="true" class="form-control" ng-options="categoria.categoria for categoria in categorias">
					                    	<option></option>
					                    </select>
			                    	</div>

									<div class="col-md-3">
										<label for="inputUn">Unidade*</label>

										<select id="inputUn" ng-model="novoProduto.unidadeMedida" ng-required="true" class="form-control" ng-options="un as un for un in unidadesMedidas">
					                    	<option></option>
					                    </select>
			                    	</div>

			                    	<div class="col-md-3">
			                    		<label for="inputValorP">Valor Padrão*</label>
			                    		<input type="text" class="form-control" id="inputValorP" ng-model="novoProduto.valorPadrao" ng-required="true" money-mask>
			                    	</div>
			                    </div>

			                    <br />
	                    		<div class="row">
									<div class="col-md-12">
			                    		<div class="panel panel-default">
											<div class="panel-heading">
										    	<h3 class="panel-title"><strong>Valor Especial</strong></h3>
											</div>
										  	<div class="panel-body">
										  		<div class="row">
													<div class="col-md-3" ng-repeat="dia in week">
														<p>{{dia.dia | uppercase}}</p>
														<div class="input-group">
															<span class="input-group-addon">
																<input type="checkbox" data-toggle="tooltip" title="{{dia.dia}}" ng-model="dia.check">
															</span>
															<input type="text" ng-disabled="!dia.check" class="form-control" ng-model="dia.valor" money-mask>
														</div>
													</div>
												</div>
										  	</div>
										</div>
									</div>
								</div>

								<!-- OLD-WAY. -->
<!-- 			                <div class="row">
									<div class="col-md-12">
										<label for="inputValorE">Valor Especial</label>
										<br />
										<div class="row">
											<div class="col-md-3" ng-repeat="dia in week">
												<p>{{dia.dia | uppercase}}</p>
												<div class="input-group">
													<span class="input-group-addon">
														<input type="checkbox" data-toggle="tooltip" title="{{dia.dia}}" ng-model="dia.check">
													</span>
													<input type="text" ng-disabled="!dia.check" class="form-control" ng-model="dia.valor" money-mask>
												</div>
											</div>
										</div>
			                    	</div>
			                    </div> -->
								
				                <div class="row">
			                    	<div class="col-md-12">
					                    <label for="inputDesc">Descrição</label>
					                    <textarea class="form-control" rows="5" id="inputDesc" ng-model="novoProduto.descricao">
					                    </textarea>
			                    	</div>
			                    </div>

			                    <div class="row">

			                    	<div class="col-md-12" id="opFile">
			                    		<label for="inputImagem">Imagem</label>
			                    		<input type="file" file-model="produtoImagem"/>
			                    	</div>

			                    </div>

			                    {{produtoImagem}}

			                    <br />
			                	<p class="text-red" ng-if="!novoProdutoForm.$pristine && novoProdutoForm.$error.required">
			                		<i class="fa fa-times"></i> Campos obrigatórios não preenchidos
			                	</p>

			                    <p class="text-yellow">* Campos obrigatórios</p>
								
								<a href="" class="btn btn-primary" ng-click="criarNovoProduto(novoProduto)" ng-disabled="novoProdutoForm.$invalid">
				                    <i class="fa fa-floppy-o"> Salvar</i>
				                </a>
				                <a href="" class="btn btn-danger" ng-click="criarNovoProduto()">
				                    <i class="fa fa-times"> Cancelar</i>
				                </a>
							</div>

						</form>

					</div>
				</div>

			</div>
		</div>
	</div>
</div>