<div class="box box-primary">
  <div class="box-header with-border">
    <h2 class="box-title">Apresentar Sessões</h2>
    <i class="fa fa-television"></i>
  </div>
  <div class="box-body">
    <div class="row">
      <div ng-repeat="sessao in tvCtrl.sessoesFiltered" class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <a href="http://localhost:8000/tv#/{{sessao.nome}}" target="_blank">
            <span class="info-box-icon bg-aqua" ng-class="{'bg-green': sessao.padrao}">
              <i class="ion-ios-monitor-outline"></i>
            </span>
          </a>
          <div class="info-box-content">
            <span class="info-box-number">{{sessao.nome}}</span>
            <span class="info-box-text">{{sessao.categorias.length}}
              <small>
                <i>categorias</i>
              </small>
            </span>
            <span class="info-box-text">{{sessao.produtos.length}}
              <small>
                <i>produtos</i>
              </small>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
