<h3 align="center">Sessões de produtos</h3>
<div class="row container-fluid" ng-controller="sessaoTabsController">
<div class="col-md-12">
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
    	<li ng-repeat="sessao in sessoes | limitTo: limit" class="{active: sessao.ativa}" ><a href="" ng-click="open(sessao)" data-toggle="tab">{{sessao.nome}}</a></li>

      <a href="" ng-click="open()" class="pull-right btn btn-sm btn-success" style="margin-top: 7px;"><span class="glyphicon glyphicon-plus"></span> Nova Sessão</a>
      
      <li  class="pull-right"><a ng-click="netxTab()" ng-show="hasMoreTabs"><i class="glyphicon glyphicon-chevron-right"></i></a></li>

      <li  class="pull-right" ><a ng-click="prevTab()" ng-show="hasPreviousSession"><i class="glyphicon glyphicon-chevron-left"></i></a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active">

        <div class="row" ng-if="!showCadastrarSessaoForm">
          <div class="col-md-6">
            <h3 class="box-title">Categorias</h3>
            <table class="table table-bordered">
                <tr>
                  <th style="width: 10px">Usar</th>
                  <th>Categoria</th>
                  <th style="width: 100px;">Tempo</th>
                  <th style="width: 10px">Produtos</th>
                </tr>
                <tr ng-repeat="categoria in categorias">
                  <td><input type="checkbox" ng-model="categoria.selecionado"/></td>
                  <td>{{categoria.categoria}}</td>

<!--                   <td>

                  <div class="row margin">
                    <div class="col-sm-12">
                      <input id="range_4" type="text" name="range_4" value="10000;100000" />
                    </div>
                  </div>

                  </td> -->

                  <td><input style="width: 50px; display: inline;" type="range" min="10" max="60" step="10" ng-model="categoria.tempo" value="categoria.tempo"/> <span style="margin: auto;">{{categoria.tempo || 30}}s</span> </td>
                  <td>
                      <span ng-click="openProdutos(categoria)" ng-if="!categoria.prShowing" class="label label-info" >Mostrar</span>
                      <span ng-click="closeProdutos(categoria)" ng-if="categoria.prShowing" class="label label-success">Esconder</span>
                  </td>
                </tr>
            </table>

            <!-- {{categorias}} -->
          </div>

          <div ng-show="anySelected" class="col-md-6">
            <h3 class="box-title">Produtos</h3>
            <table class="table table-bordered">
                <tr>
                  <th style="width: 10px">Usar</th>
                  <th style="width: 65px">Imagem</th>
                  <th>Produto</th>
                </tr>
                <tr ng-repeat="produto in produtos">
                  <td><input type="checkbox" ng-model="produto.selecionado"/></td>
                  <td>

                    <div class="media">
                      <div class="media-left">
                          <img class="media-object" src="images/carnes.jpg" height="42" width="60" alt="Imagem do produto">
                      </div>
                    </div>

                    <!-- <img src="images/carnes.jpg" height="42" width="60"></td> -->
                  <td>
                       <!-- {{produto.nome}} -->
                  </td>
                </tr>
            </table>

          </div>
        </div>


        <!-- CADASTRO DE UMA NOVA SESSÃO -->
      	<br>
        <div ng-if="showCadastrarSessaoForm" class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <form class="form-inline" name="novaSessaoForm">
                <div class="form-group">
                  <input type="text"  class="form-control" placeholder="Nome da sessão" ng-model="novaSessao.nome" ng-required="true" ng-maxlength="10" ng-minlength="3">
                  <a href="" class="btn btn-primary" ng-click="salvarSessao(novaSessao)" ng-disabled="novaSessaoForm.$invalid">Salvar</a>
                  <a href="" class="btn btn-danger" ng-click="salvarSessao()">Cancelar</a>
                </div>
              </form>
            </div>
            <div class="col-md-4" ng-show="novaSessaoForm.$error" style="margin-top: 10px;">
              <div class="text-red" ng-if="novaSessaoForm.$error.minlength"><i class="glyphicon glyphicon-remove"></i> Necessário mínimo de 3 caracteres</div>
              <div class="text-red" ng-if="novaSessaoForm.$error.maxlength"><i class="glyphicon glyphicon-remove"></i> Permitido máximo de 10 caracteres</div>
            </div>
          </div>
<!-- 			   {{novaSessao}} -->
        </div>
        <!-- FIM DO FORMULARIO DE CADASTRO DE UMA NOVA SESSÃO -->

      </div>
    </div>
  </div>
</div>
</div>