<ul class="banner">
    <li ng-repeat="pr in showing track by $index">
      <div>
            <span>{{pr.nome}}</span>
            <span>R$ {{pr.valorHoje}}</span>
            <!-- Tamanho da imagem temporario -->
            <img ng-src="/images/produtos/{{pr.imagem}}">
        </div>  
    </li>
    
    <!-- 

    <li>
      <div>
          <span>Filé Mignon</span>
          <span>R$ 55,00</span>
    <img src="imagens/fila.jpg">
    </div>  
    </li>
              <li>
      <div>
          <span>Maminha</span>
          <span>R$ 32,00</span>
    <img src="imagens/maminha.jpg">
    </div>  
    </li>
              <li>
      <div>
          <span>Costela</span>
          <span>R$ 16,84</span>
    <img src="imagens/Costela.jpg">
    </div>  
    </li>
              <li>
      <div>
          <span>Contrafilé</span>
          <span>R$ 49,90</span>
    <img src="imagens/contra1.jpg">
    </div>  
    </li>
              <li>
      <div>
          <span>Fraldinha</span>
          <span>R$ 35,00</span>
    <img src="imagens/fraldinha_0.jpg">
    </div>  
    </li>
-->
          
</ul>